@import 'utilities.css';

:root{
    --yellow:#E9D216;
    --green:#679304;
    --dark_green:#5B7905;
    --pure:#FFFFFF;
    --blue:#085FF4;
    --light:#F7F7FC;
    --brown:#312822;
    --dark:#191919;
    --dark_light:#23272e;

}
body{
    font-family: 'Poppins', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}

header{
    background: var(--pure);
    /*height: 10px;*/
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;

}

header nav .left a{
    color: var(--dark);

    font-weight: 600;


    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;

}
header nav .left a:hover{
    color: var(--green);
}

header nav{
    padding: 2rem 0;
}

header nav .branding{
    margin-right:4rem;
}

/*
.detail{
    margin-left: 5%;
    margin-top: 15%;
}

.detail h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 2px;
}

span{
    color: var(--dark_green);
    font-size: 150%;
}

.lp .detail h2{
    /*position: absolute;*//*
    font-size: 30px;
    margin: 10px 0;

}
.lp .detail h2 span{
    color: var(--green);
    font-weight: 500;
}

.detail p{
    color: #555;
    line-height: 22px;
    margin-bottom: 10px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.images img{
    height: 100%;
    position: absolute;
    left: 23%;
    bottom: 10%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
  
    /*max-width: 100%;
    max-height: 100%;*//*
}

.images .person{
    height: 80%;
    left: 65%;
    bottom: 18%;


}
.images .balls{
    left: 60%;
    bottom: 10%
}

.images:hover .balls{
    bottom: 520px;
}

.images:hover .person{
    left: 52%;
}
*/

.landing .right img{
    width: 350px;

}

.landing .left{
    color: var(--dark);
}

.landing .left h1{
    font-size: 3rem;
    font-weight: 100;
    /*line-height: 1.2;
    margin-bottom: 2rem;*/
}

.landing .left h1 span{
    color: var(--green);
    font-size: 4rem;
    font-weight: bold;
}

.landing .left h2{
    font-size: 2rem;
    font-weight: 100;
}

.landing .left h2 span{
    color: var(--dark_green);
    font-weight: bold;
}

.landing .left p{
    line-height: 1.5;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

section{
    padding: 6rem 0;
}

section.about .about-me{
    height: 450px;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
section.about h1 span{
    color: var(--green);
}

section.about h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}
section.about p{
    color: #282c34;
    line-height: 1.8;
    margin-bottom: 2rem;
}

section.about .social{
    display: flex;
}
section.about .social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 0.6rem;
}
section.about .social a img{
    width: 30px;
}

.sec-head{
    color: var(--dark);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    font-size: 2rem;
    font-weight: bold;
}

.sec-head + p{
    color: var(--dark);
    margin-bottom: 8rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}
.sec-head span{
    color: var(--green);
}

section.skills{
    background: var(--light);
}

section.skills .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}   

section.skills .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 4rem;
    text-align: center;
    transition: all .3s ease;
}

section.skills .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    
}
section.skills .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.skills .card-wrapper .card p{
    color: var(--dark_light);
}


section.skills .card-wrapper .card:hover{
    background: var(--dark_light);
}


section.skills .card-wrapper .card:hover h2, section.skills .card-wrapper .card:hover p{
    color: var(--pure);
}
